.member_counter .single_member_counter h4:after {
  position: absolute;
  left: 0;
  top: -20px;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 1px;
  background-color: #fff;
  content: "";
}

.uscontact {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}

#fontss {
  font-size: 15px;
  color: #0c2e60;
  font-family: Poppins, sans-serif;
}

@media only screen and (max-width: 600px) {
  .home_menu {
    background-color: white;
  }
  .card-img-top {
    margin-top: 50px;
  }
  .card-title {
    color: #0c2e60;
  }
}

.whites {
  background-color: #f5f5f5;
}

.headline-container {
  padding-top: 20px;
}
.headline {
  text-align: center;
}
.hed {
  font-family: "Whitney SSm", Helvetica, Arial, sans-serif;
}

.card {
  border-color: #c7b78f;
  border-radius: 0;
  border: none;
}
img {
  padding: 10px;
}
.card-link {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Whitney SSm", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #c7b78f;
  border-radius: 0;
}
.card-title,
.card-text {
  font-family: "Whitney SSm", Helvetica, Arial, sans-serif;
}
.card-text {
  font-weight: 300;
}

.grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
.grid-gutter-width: 30px !default;
.cards-per-line: (xs: 1, sm: 2, md: 2, lg: 3, xl: 3);
@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "0bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.2rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  position: absolute;
  background: no-repeat 50%/100% 100%;
  height: 99.5px;
  width: 37px;
}

.img {
  width: 100%;
  height: 100px;
}

.aligncenter {
  display: block;
  margin-top: 33px;
}

.card-title {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 500;
}

.phone {
  color: #636363;
}

.padding {
  padding-top: 20px;
}

.call-button {
  margin-top: 20px;
}

.custom {
  color: #0c2e60;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}

/* Call to Action */
.callme {
  width: 75px;
  height: 75px;
  right: 8px;
  bottom: 73px;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
  display: inline-block;
}

.callme:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -0px;
  left: -0px;
  background-color: #2962ff;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse 1.6s ease-out;
  animation: pulse 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    -webkit-transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    opacity: 1;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Whatsapp button style */

.whatsapp-button {
  position: fixed;
  right: 12px;
  bottom: 138px;
  animation: wiggle 3.5s 1.5s infinite;
  z-index: 100;
  height: 65px;
  width: 65px;
}

/* Media Query for Whatsapp */
@media only screen and (max-width: 360px) {
  .whatsapp-button {
    right: -0px;
    bottom: 165px;
    width: 60px;
    height: 60px;
  }
}

/* Media Query for callme */
@media (max-width: 360px) {
  .callme {
    width: 70px;
    height: 70px;
    right: -4px;
    bottom: 100px;
  }
}

/* Medea for call me before */
@media (max-width: 360px) {
  .callme:before {
    width: 65px;
    height: 65px;
    top: 3px;
    left: 3px;
  }
}

.button-wiggle {
  animation: wiggle 3.2s 1.2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

/* Portfolio Design */

.portfolio_feature {
  padding: 169px 0 171px;
  margin-top: 10%;
}

@media (max-width: 360px) {
  .portfolio_feature {
    padding: 40px 0 40px;
  }
}

@media (max-width: 576px) {
  .portfolio_feature {
    padding: 0 0 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .portfolio_feature {
    padding: 0 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio_feature {
    padding: 0 0 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .portfolio_feature {
    padding: 20px 0;
  }
}

.portfolio_part {
  position: relative;
  z-index: 99;
  padding: 120px 0 120px;
}

@media (max-width: 360px) {
  .portfolio_part {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .portfolio_part {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .portfolio_part {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio_part {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .portfolio_part {
    padding: 20px 0;
  }
}

.portfolio_part .portfolio_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 70% 100%;
  background-position: right top;
  position: absolute;
  left: 84px;
  bottom: -109px;
}

@media (max-width: 360px) {
  .portfolio_part .portfolio_img {
    position: inherit;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .portfolio_part .portfolio_img {
    position: inherit;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .portfolio_part .portfolio_img {
    position: inherit;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio_part .portfolio_img {
    position: inherit;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .portfolio_part .portfolio_img {
    bottom: -43px;
    left: -80px;
  }
}

/* Media Query for footer section */
@media (min-width: 1200px) {
  .col_stretch {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.font_card {
  font-size: 140%;
}
